In [6]:
# import unicodedata, re, inflect, nltk
import nltk
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from numpy import mean

In [10]:
nltk.download('vader_lexicon')
sia = SentimentIntensityAnalyzer()

# check number of rows of reviews
f1 = open("../data/output_review_yelpHotelData_NRYRcleaned.txt", 'r')
Lines = f1.readlines() 
  
count = 0
data = []
# Strips the newline character 

text_list = list()
for line in Lines:
    data.append(line.strip('\n'))

#store reviews in pandas series
reviews = pd.Series(data, name='review')
print("No of reviews: ", reviews.count())

No of reviews:  5854

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/eduardchai/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [15]:
#check number of rows of metadata
f2 = open("../data/output_meta_yelpHotelData_NRYRcleaned.txt", 'r')
lines = f2.readlines() 

count = 0
metadata = []
for l in lines:
     row = (l.strip('\n').split(" "))
     metadata.append(row)

cols = ['date', 'review_id', 'reviewer_id', 'product_id', 'label', 'a', 'b', 'c','rating']

#store metadata in pandas dataframe
df = pd.DataFrame.from_records(metadata, columns=cols)
print("No of reviews: ", df.count())

No of reviews:  date           5854
review_id      5854
reviewer_id    5854
product_id     5854
label          5854
a              5854
b              5854
c              5854
rating         5854
dtype: int64

In [16]:
yelp = pd.concat([df,reviews], axis=1)
yelp.head()

,date,review_id,reviewer_id,product_id,label,a,b,c,rating,review
0,6/8/2011,MyNjnxzZVTPq,IFTr6_6NI4CgCVavIL9k5g,tQfLGoolUMu2J0igcWcoZg,N,28,11,18,5,Let me begin by saying that there are two kind...
1,8/30/2011,BdD7fsPqHQL73hwENEDT-Q,c_-hF15XgNhlyy_TqzmdaA,tQfLGoolUMu2J0igcWcoZg,N,4,3,0,3,The only place inside the Loop that you can st...
2,6/26/2009,BfhqiyfC,CiwZ6S5ZizAFL5gypf8tLA,tQfLGoolUMu2J0igcWcoZg,N,23,14,12,5,I have walked by the Tokyo Hotel countless tim...
3,9/16/2010,Ol,nf3q2h-kSQoZK2jBY92FOg,tQfLGoolUMu2J0igcWcoZg,N,6,2,8,1,"If you are considering staying here, watch thi..."
4,2/5/2010,i4HIAcNTjabdpG1K4F5Q2g,Sb3DJGdZ4Rq__CqxPbae-g,tQfLGoolUMu2J0igcWcoZg,N,9,4,11,3,"This place is disgusting, absolutely horrible,..."

In [30]:
# Convert date to timestamp
import time
import datetime

yelp["timestamp"] = yelp["date"].apply(lambda row: int(time.mktime(datetime.datetime.strptime(row, "%m/%d/%Y").timetuple())))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [28]:
yelp = yelp.drop(columns="date")

In [37]:
yelp["label"] = yelp["label"].apply(lambda row: "true" if row else "false")

In [39]:
yelp.to_csv("../data/yelp-hotel-reviews.csv", index=False)

In [38]:
yelp.tail()

,review_id,reviewer_id,product_id,label,a,b,c,rating,review,timestamp
5849,4d3lJEG5RgDDS_PimakHDw,eIOn-m017t7nu3FGpasPTg,gCdjyQeE0uRKCh7mVmnZzQ,true,0,0,0,5,"This hotel is amazing! Granted, I worked here,...",1224000000
5850,M9sPYJENivJyWYuLwy7SCw,oVzvotuHA5u5Ob0E7i58Cw,rpP9iZsT3NC-Z4pUtQGoiA,true,0,0,0,3,Short Version: I am very torn about this place...,1313942400
5851,IErE0ydkkLfAoePgqrVdUQ,wKPzlSO-Vyrzk8JlXr0cyQ,rpP9iZsT3NC-Z4pUtQGoiA,true,0,0,0,4,Sutton Place is a very elegant hotel. The room...,1304265600
5852,NnkA6YT9xo_IaZ5xZI_5zQ,SL4aEwrM2q0HAXHpduMQ1Q,rpP9iZsT3NC-Z4pUtQGoiA,true,0,0,0,1,The only great thing is location. Rest of the ...,1292688000
5853,xwPMoEzuvpn3J32IvTcsiQ,MdYbNl_9Hm1CybsuC6UnkQ,rpP9iZsT3NC-Z4pUtQGoiA,true,0,0,0,1,"Noise, noise, noise! Unbelievable! Between the...",1280937600

In [40]:
yelp["label"].unique()

array(['false', 'true'], dtype=object)